<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>

        <body>
            <header>
            <img src="{% static 'image/HP_Logo.jpg' %}">
            <h1 style="font-size:60px;"><center>Supply Linearity Performance</center></h1>
            <ul>
                <h2 style="font-size:25px;"><li id="contact"><a href="#">Contact us</a> </li></h2>
            </ul>
            <h2 style="font-size:20px;"><p align="right">Powered By SCOAH-BI Team</P></h2>
            </header>
        
        <hr style="height:2px;border:none;color:#333;background-color:#333;">
        <a href="https://app.powerbi.com/groups/me/reports/fb29133b-0a56-429f-990a-5271a2bb9313/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6" target="_blank">
            <img src="{% static 'image/1-Adapter.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/bf137fe2-4662-47fd-9d07-27b75c6e6e2f/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/2-AMDCPU.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/74de7efd-9d11-401a-b970-d0f086b086d7/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/3-Battery.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/ad396ccb-e6c6-4906-bd82-ef3346cf20b5?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/4-DBTS.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/ef71329a-6380-4cd1-a141-62958512902f/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/5-DRAM.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/a26a191c-672f-46b1-91ce-d7f9a00c45ed/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/6-GPU.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/a26a191c-672f-46b1-91ce-d7f9a00c45ed?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/7-IntelCPU.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/4d3d8c04-b4c1-4d33-95d3-6428be4c8f16?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/8-NonIntelCPU.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/26cef68d-12f9-49f8-98eb-59bfc7d77fad?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/9-Panel.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/a586cb48-72d4-4f7c-b4c5-90974d24b88a?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/10-PowerCord.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/8fc6bf26-5d19-4f9d-85e7-8c4a947dc7fa?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/11-PowerSupply.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/7ea81fdd-c9ea-4fb3-a575-f5e7181e7c58?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/12-SSD.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/2ac18413-fdbb-4bdb-b8fc-9b5878de0274/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/13-VRAM.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/17f416d8-982a-4a8a-8495-d3c10b26dc4b?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/14-Webcam.jpg' %}"></a>
        <a href="https://app.powerbi.com/groups/me/reports/404b7681-c7ff-47ce-90f7-422179025599/ReportSection70cea308eca20e82da14?ctid=ca7981a2-785a-463d-b82a-3db87dfc3ce6&experience=power-bi" target="_blank">
            <img src="{% static 'image/15-WWAN.jpg' %}"></a>
        
    </body>
</html>